@import "Variables";
@import "Mixins";

.Main {
    display: flex;
    justify-content: center;
}

.ouetrContainer {
    @include Display(flex, center, center);
    @include Border(1px, solid, $BorderColor);
    margin-top: 30px;
    width: 70vw;
    height: 70vh;
    border-radius: 10px;
    padding: 10px;
    img {
        width: 300px;
    }
}

.innerContainer {
    @include Border(1px, solid, $BorderColor);
    width: 45vw;
    height: 40vh;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

.Title {
    color: $BlueColor;
}

.Description {
    color: rgb(105, 105, 105);
    font-family: Arial;
}

.Category span {
    color: #ecc518;
    @include Font(bold, 16px, Arial);
}

.Category {
    font-family: Arial;
    font-weight: bold;
    margin-top: 30px;
}

.lastSection {
    display: flex;
    justify-content: space-between;
    margin: 40px 10px;
}

.Price {
    @include Display(flex, center, center);
    @include Font(bold, auto, Arial);
    padding: 3px;
    width: 50px;
    height: 25px;
    color: $WhiteColor;
    border-radius: 3px;
    background-color: $GreenColor;
}

.Backbutton {
    @include Display(flex, center, center);
    padding: 3px;
    text-decoration: none;
    color: $WhiteColor;
    width: auto;
    height: 25px;
    border-radius: 3px;
    cursor: pointer;
    background-color: $BlueColor;
}