.Container {
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 10px;
    width: 15vw;
    height: 47vh;
    margin: 10px;
}

.Container:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all .2s linear;
}

.Container img {
    width: 200px;
    height: 180px;
}

.Price {
    font: 100 15px Arial;
    color: #414141;
}

.allButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linkButton {
    text-decoration: none;
    color: #2c8eff;
}

.addButton,
.minus, 
.plus,
.remove {
    width: auto;
    height: 25px;
    background-color: #2c8eff;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-right: 3px;
    font: bold 16px auto;
}

.addButton {
    font-size: 14px;
}

.minus, 
.plus {
    width: 30px;
}

.remove {
    width: 40px;
    height: 25px;
}

.remove img {
    width: 15px;
    height: 15px;
}