@import "Variables"; 
@import "Mixins";

.Container {
    @include Border(1px, solid, $BorderColor);
    border-radius: 10px;
    padding: 10px;
    width: 15vw;
    height: 47vh;
    margin: 10px;
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        transition: all .2s linear;
    }

    img {
        width: 200px;
        height: 180px;
    }
}

.Price {
    font: 100 15px Arial;
    color: #414141;
}

.allButtons {
    @include Display(flex, space-between, center);
}

.linkButton {
    text-decoration: none;
    color: $PrimaryColor;
}

.addButton,
.minus, 
.plus,
.remove {
    width: auto;
    height: 25px;
    background-color: $PrimaryColor;
    border: none;
    outline: none;
    border-radius: 5px;
    color: $WhiteColor;
    cursor: pointer;
    margin-right: 3px;
    @include Font(bold, 16px, auto);
}

.addButton {
    font-size: 14px;
}

.minus, 
.plus {
    width: 30px;
}

.remove {
    width: 40px;
    height: 25px;
    img {
        width: 15px;
        height: 15px;
    }
}