@import "Variables";
@import "Mixins";

.ShopCartContainer {
    position: relative;
}

.StatusContainer {
    @include Border(1px, solid, $BorderColor);
    width: 300px;
    height: 150px;
    border-radius: 5px;
    padding: 15px;
    top: -1px;
    left: 60%;
    position: absolute;

    p {
        font-weight: 500;
    }
}

.TotalItems,
.TotalPayments {
    @include Font(bold, 17px, Arial);
    color: $BlueColor;
}

.ButtonContainer {
    @include Display(flex, space-between, center);
    margin-top: 50px;
}

.Clear {
    color: $GreenColor;
    border: none;
    outline: none;
    font-size: 17px;
    background-color: transparent;
}

.CheckOut {
    @include Font(bold, 14px, Arial);
    height: 30px;
    color: $WhiteColor;
    border: none;
    border-radius: 5px;
    background-color: $GreenColor;
}

.Clear, 
.CheckOut {
    cursor: pointer;
}

.checkOutContainer,
.ClearContainer {
    @include Display(flex, center, center);
    flex-direction: column;
}

.Head {
    color: $GreenColor;
}

.ProductsLink {
    @include Display(flex, center, center);
    @include Font(bold, 15px, Arial);
    text-decoration: none;
    width: auto;
    height: 20px;
    background-color: $BlueColor;
    color:  $WhiteColor;
    padding: 5px;
    border-radius: 5px;
}